
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>طلا و نقره سرای خاطره</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- فونت معمولی سایت -->
<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;600;700;800&display=swap" rel="stylesheet">

<!-- فونت نستعلیق -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<nav>

<div class="brand">

 خاطره

</div>
 

<ul>

<li><a href="#">خانه</a></li>
<li><a href="#gallery">گالری</a></li>
<li><a href="#about">درباره ما</a></li>
<li><a href="#contact">تماس</a></li>

</ul>

</nav>



<header>

<img src="{{ url_for('static', filename='images/logo.jfif') }}" class="logo">


<h1>
طلا و نقره سرای خاطره
</h1>


<p>
درخشش ماندگار طلا و نقره، انتخابی برای ساختن خاطره‌های ارزشمند
</p>


<a class="btn" href="#gallery">
مشاهده محصولات
</a>


</header>




<section id="gallery">

<h2>محصولات</h2>


<div class="cards">


<div class="card">
<div class="card-img-wrap">
<img src="{{ url_for('static', filename='images/an.jpg') }}" alt="انگشتر">
</div>
<h3>حلقه طلا</h3>
</div>


<div class="card">
<div class="card-img-wrap">
<img src="{{ url_for('static', filename='images/ga.jfif') }}" alt="گردنبند">
</div>
<h3>گردنبند طلا و نقره</h3>
</div>


<div class="card">
<div class="card-img-wrap">
<img src="{{ url_for('static', filename='images/da.jfif') }}" alt="دستبند">
</div>
<h3>دستبند</h3>
</div>


<div class="card">
<div class="card-img-wrap">
<img src="{{ url_for('static', filename='images/se.jfif') }}" alt="تاج">
</div>
<h3>سرویس طلا</h3>
</div>


</div>

</section>





<section id="about">


<h2>
درباره طلا و نقره سرای خاطره
</h2>


<p>

عرضه انواع طلا، نقره و جواهرات با طراحی‌های خاص،
کیفیت بالا و ضمانت اصالت کالا؛
همراه شما برای انتخاب زیباترین لحظه‌ها.

</p>


</section>





<section id="contact">


<h2>
ارتباط با ما
</h2>


<div class="info">


<p>
📍 اصفهان، بازار خورشید، راهروی اصلی، واحد ۱۴۷
</p>


<p>
📞 09135670796
</p>


<a class="phone" href="tel:09135670796">
📞 تماس مستقیم
</a>



<a class="whatsapp" href="https://wa.me/989135670796" target="_blank">
💬 واتساپ
</a>



<a class="map" href="https://maps.app.goo.gl/Nhys3eDFcwXRy8rt5" target="_blank">
📍 Google Maps
</a>



<a class="neshan" href="https://nshn.ir/862bZNwzIxnzn6" target="_blank">
🧭 نشان
</a>



<a class="instagram" href="https://instagram.com/silvergallery.khatereh">
📷 اینستاگرام
</a>


</div>


</section>



</body>

</html>